@font-face {
    font-family: "Neo-latina";
    src: url("/fonts/neo-latina-demo-FFP.ttf");
}

@font-face {
    font-family: "Helmet";
    src: url("/fonts/Helmet-Regular.ttf");
}

@font-face {
    font-family: "Good";
    src: url("/fonts/good times rg.otf");
}

/* Main */
html,
body {
    font-family: "Helmet";
    font-size: 110%;
     background: linear-gradient(
        109.6deg,
        rgb(6, 2, 2) 52.4%,
        rgb(185, 25, 52) 98.8%
    );
    background-repeat: repeat;
    height: auto;
}

.line {
  height: 1px;
  background: rgb(255, 255, 255);
  width: 50%;
  margin-left: 25%;
}

.line-black-login {
  height: 1px;
  background: rgb(3, 3, 3);
  width: 50%;
  margin-left: 0%
}

/* Glitch Effect */
.glitch-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   
}

.glitch {
   position: relative;
   font-size: 80px;
   font-weight: bold;
   color: #FFFFFF;
   letter-spacing: 3px;
   z-index: 1;
   text-align: left;
}

.glitch:before {
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: -2px;
   width: 100%;
   color: 80px;
   /* background-color: #000000; */
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 2px;
   width: 100%;
   color: 80px;
   /* background-color: #000000; */
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-after 2s infinite linear alternate-reverse;
}

/* Glitch Responsive */
.glitch-wrapper-responsive {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   
}

.glitch-responsive {
   position: relative;
   font-size: 40px;
   font-weight: bold;
   color: #FFFFFF;
   letter-spacing: 3px;
   z-index: 1;
   text-align: left;
}

.glitch-responsive:before {
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: -2px;
   width: 100%;
   color: 80px;
   /* background-color: #000000; */
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch-responsive:after {
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 2px;
   width: 100%;
   color: 80px;
   /* background-color: #000000; */
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
   0% {
      clip: rect(61px, 9999px, 52px, 0);
   }
   5% {
      clip: rect(33px, 9999px, 144px, 0);
   }
   10% {
      clip: rect(121px, 9999px, 115px, 0);
   }
   15% {
      clip: rect(144px, 9999px, 162px, 0);
   }
   20% {
      clip: rect(62px, 9999px, 180px, 0);
   }
   25% {
      clip: rect(34px, 9999px, 42px, 0);
   }
   30% {
      clip: rect(147px, 9999px, 179px, 0);
   }
   35% {
      clip: rect(99px, 9999px, 63px, 0);
   }
   40% {
      clip: rect(188px, 9999px, 122px, 0);
   }
   45% {
      clip: rect(154px, 9999px, 14px, 0);
   }
   50% {
      clip: rect(63px, 9999px, 37px, 0);
   }
   55% {
      clip: rect(161px, 9999px, 147px, 0);
   }
   60% {
      clip: rect(109px, 9999px, 175px, 0);
   }
   65% {
      clip: rect(157px, 9999px, 88px, 0);
   }
   70% {
      clip: rect(173px, 9999px, 131px, 0);
   }
   75% {
      clip: rect(62px, 9999px, 70px, 0);
   }
   80% {
      clip: rect(24px, 9999px, 153px, 0);
   }
   85% {
      clip: rect(138px, 9999px, 40px, 0);
   }
   90% {
      clip: rect(79px, 9999px, 136px, 0);
   }
   95% {
      clip: rect(25px, 9999px, 34px, 0);
   }
   100% {
      clip: rect(173px, 9999px, 166px, 0);
   }
}

@keyframes noise-after {
   0% {
      clip: rect(26px, 9999px, 33px, 0);
   }
   5% {
      clip: rect(140px, 9999px, 198px, 0);
   }
   10% {
      clip: rect(184px, 9999px, 89px, 0);
   }
   15% {
      clip: rect(121px, 9999px, 6px, 0);
   }
   20% {
      clip: rect(181px, 9999px, 99px, 0);
   }
   25% {
      clip: rect(154px, 9999px, 133px, 0);
   }
   30% {
      clip: rect(134px, 9999px, 169px, 0);
   }
   35% {
      clip: rect(26px, 9999px, 187px, 0);
   }
   40% {
      clip: rect(147px, 9999px, 137px, 0);
   }
   45% {
      clip: rect(31px, 9999px, 52px, 0);
   }
   50% {
      clip: rect(191px, 9999px, 109px, 0);
   }
   55% {
      clip: rect(74px, 9999px, 54px, 0);
   }
   60% {
      clip: rect(145px, 9999px, 75px, 0);
   }
   65% {
      clip: rect(153px, 9999px, 198px, 0);
   }
   70% {
      clip: rect(99px, 9999px, 136px, 0);
   }
   75% {
      clip: rect(118px, 9999px, 192px, 0);
   }
   80% {
      clip: rect(1px, 9999px, 83px, 0);
   }
   85% {
      clip: rect(145px, 9999px, 98px, 0);
   }
   90% {
      clip: rect(121px, 9999px, 154px, 0);
   }
   95% {
      clip: rect(156px, 9999px, 44px, 0);
   }
   100% {
      clip: rect(67px, 9999px, 122px, 0);
   }
}


.btn {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: .125em;
  --curve-size: .5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
    /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: .5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
  clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: '';
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%
  }

  50% {
    background-position: 70% 100%
  }

  100% {
    background-position: 31% 0%
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
            /* Top-left */
            var(--border-width) 
            calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) 
            var(--border-width),

            calc(100% - var(--border-width)) 
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
                /* Top-left */
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    
                calc(100% - var(--border-width))

                var(--border-width),
    
                /* top-right */
                calc(100% - var(--border-width))

                 var(--border-width),
    
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
    
                /* bottom-right 1 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                calc(100% - var(--border-width)),

                /* bottom-right 2 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                calc(100% - var(--border-width)));
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}

/* Container */

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.page-title {
    margin-bottom: 2rem;
    text-align: center;
}

.linenew {
    height: 2px;
    background-color: #fff;
    margin: 1rem auto;
    width: 30%;
}

.text-justify {
    text-align: justify;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Hero Banner */
#hero {
  position: relative;
   top: 0;
    left: 0;
     width: 100%;
    height: 100vh;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;

box-shadow:  -7px 7px 16px #0e080f,
             7px -7px 16px #381e3b;
}

#content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Good";
    text-shadow: 3px 2px 8px rgba(148, 69, 158, 0.6);
    color: #ffffff;
    font-size: 100%;
    z-index: 100;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    z-index: 100;
}

/* About */
#about {
     font-family: "Neo-latina";
     height: 100vh;
}

#about_img {
    position: absolute;
    width: 46%;
    /* border: 11px solid #6932f5; */
    border-radius: 28px;
box-shadow:  -7px 7px 16px #0e080f,
             7px -7px 16px #381e3b;
}

.about-content {
    font-family: "Helmet";
}

/* Navbar */
.navbar {
    position: sticky;
    font-family: "Helmet";
    padding: 6px;
    padding-left: 20px;
    justify-content: center;
    text-align: center;
    z-index: 9999;
    font-size: 15px;
    top: 0;
    transition: background-color 0.3s ease;
}

.navbar.transparent {
background-color: transparent !important;
}

.navbar.scrolled {
 background:  #050505;
  z-index: 9999;
}

/* Games Section */
#games {
    font-family: "Neo-latina";
    width: 100%;
    position: relative;
}

#games-responsive {
    font-family: "Neo-latina";
    margin-top: 50%;
}

/* Carousel */
.carousel-inner {
   /* border: 11px solid #6932f5; */
   width: 700px;
    border-radius: 28px;
box-shadow:  -7px 7px 16px #0e080f,
             7px -7px 16px #381e3b;
}

/* Cards */
  .custom-card {
    /* height: 80%; */
    font-size: 20px;
    margin-top: 20px;
    box-shadow:  -7px 7px 16px #0e080f,
             7px -7px 16px #381e3b;
    transition: transform 0.3s ease;
}

.custom-card:hover {
    transform: scale(1.05);
}

.custom-card .card-body {
    height: auto;
    width: 100%;
    font-family: "Helmet";
    border-radius: 50px;
}

/* Footer */

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
margin-top: auto;
border-top-left-radius: 28px;
border-top-right-radius: 28px;
box-shadow:  26px 26px 52px #231325,
             -26px -26px 52px #231325;
 padding: 10px;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #a759ff;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #a759ff;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #a759ff;
}
.footer-widget ul li {
  display: inline-block;
  /* float: left; */
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #a759ff;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #a759ff;
    padding: 13px 20px;
    border: 1px solid #a759ff;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #a759ff;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #a759ff;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* Log in */
#login-title{
    font-family: "Neo-latina";
  
}

#login-bg {
  background-color:  linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);;
  border-radius: 28px; 
  width: 90%;
  height: 70%;
  box-shadow:  -7px 7px 16px #0e080f,
             7px -7px 16px #381e3b;;
}

/* Register */

#reg-bg {
  background-color:  linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  border-radius: 28px; 
  width: 70%;
  height: 105%;
  box-shadow:  -7px 7px 16px #0e080f,
             7px -7px 16px #381e3b;
}

#reg-bg-responsive {
  background-color:  linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  border-radius: 28px; 
  width: 85%;
  height: 130%;
  box-shadow:  -7px 7px 16px #0e080f,
             7px -7px 16px #381e3b;
}

/*Success  */
#success {
   background-color:  linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  border-radius: 28px; 
  width: 50%;
  box-shadow:  -7px 7px 16px #0e080f,
             7px -7px 16px #381e3b;
   color: black;
}

/* FAQS */
#faqs{
   height: 100vh;
}

.accordion-item {
    box-shadow:  -7px 7px 16px #0e080f,
             7px -7px 16px #381e3b;
   color: black;
}

/* Support */
#issue{
   background:  linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    color:linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

#support{
   height: 50vh;
}

